@charset "utf-8";
/* CSS Document */
body{
	background-image: url("../image/BingWallpaper (67).jpg");
}
.osca{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.75);
	backdrop-filter: blur(10px);
	
}
.oscb{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.oscb button{
	width: 100px;
	height: 100%;
	border: none;
	background-color: rgba(0,0,0,0.00);
	color: rgba(255,255,255,1.00);
}
.oscb button:hover{
	background-color: rgba(255,255,255,0.10);
}
.date{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100px;
	background-color: rgba(0,0,0,0.00);
	border: none;
	color: rgba(255,255,255,1.00);
}
.date:hover{
	background-color: rgba(255,255,255,0.10);
}
.status{
	position: absolute;
	right: 100px;
	bottom: 0;
	height: 100%;
	width: 100px;
	background-color: rgba(0,0,0,0.00);
	border: none;
	color: rgba(255,255,255,1.00);
	font-size: 100%;
}
.status:hover{
	background-color: rgba(255,255,255,0.10);
}
.osccs{
	display: none;
	flex-direction: column;
}
.screen{
	position: absolute;
	background-color: rgba(75,75,75,0.50);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}